
/*Color theme:http://paletton.com/#uid=53v0u0kk1QU00++aYX2rQJiv3oa*/

@import url('https://fonts.googleapis.com/css?family=Sacramento');
*{margin:0px;padding:0px;font-family: sans-serif;}
a {text-decoration: none; }
li{list-style: none;}

.page{position:relative;display: block;width:100vw;height:100vh;background-color:white;margin:0 auto;padding:0}

.menu{position:fixed;z-index:5;background-color:gray;top:50px;right:0;height:10vh;min-height: 80px; width:3vw;min-width: 45px;border-bottom-left-radius:20px;border-top-left-radius:20px;}

.menu_control li{list-style: none;position: absolute;background: #fff}


.menu_control li:nth-child(1){height: 3px;width: 55%; margin: auto;left: 0;right: 0; top: 40%; -ms-transform: rotate(-45deg);-webkit-transform: rotate(-45deg);transform: rotate(-45deg)}
.menu_control li:nth-child(2){height: 3px;width: 55%; margin: auto;left: 0;right: 0; top: 60%; -ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg)}

.menu_content{position:fixed;z-index:5;background-color:gray;right:0;height:100vh;width:0;color:white;text-align: center;padding-top:3vh;padding-bottom:3vh}
.menu_content div{margin-top:10px;margin-bottom:20px}

.mypicture img{width:50%;max-width:500px}
.menu_list div{margin:auto;right:0;left:0;width:100%;font-size:20;padding-top:20px;padding-bottom:20px;text-align: center;color: white;cursor: pointer}
.menu_list div:hover{-moz-transition:color .2s ease-in;-o-transition:color .2s ease-in;-webkit-transition:color .2s ease-in;background:rgba(93,173,226,0.2)}

.socialmedia img{width: 25%;margin-left:15px;margin-right:15px}

.email{font-size:80%}

.logos_sponsors, .logos_sponsors p{width:100%;text-align:center;color: white}
.logos_sponsors img{position: relative;display: inline-block; width:25%;margin:10px}
.logos_sponsors .principal_logo{width: 35%}
.logos_sponsors .secondary_logo{width: 20%}

.Copyright{width:95%;margin:0 auto;left:0;right:0;font-size:12px;text-align:center}

.fullframe{position:relative;z-index: 1;background-color: #fff}

.front{position:relative;z-index:2}

.frontpage{position: absolute; width: 100%;height:100%;background-color:rgba(165, 213, 244,0.33);z-index:0}

.frontpage_content{position: absolute;z-index:10;width:100vw;height:100vh;text-align: center;pointer-events:none}

.frontpage_content p{position: absolute; top:90vh;width:100vw;margin:auto;font-size:20px;color:white}

.frontpage_content .name{position: absolute; top:73vh;width:100vw;margin: auto;font-size:50px;color:white}

.frontpage_content .lastname{position: absolute; top:80vh;width:100vw;margin:auto;font-size:50px;color:white}

.portrait_animation{display: block;position: absolute;width:70%;height:70%;background-color: transparent;margin:auto;top: 0;bottom: 0;right:0;left:0;vertical-align:middle;text-align:center;z-index:-1}

.background_frontpage_me{position: absolute;top:0;width:100vw;height: 100vh;background: url(../../media/image/background_me_F.png); -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;z-index: 1;background-position: center;}

.background_frontpage{position: absolute;top:0;width:100vw;height: 100vh;background: url(../../media/image/background_F.png); -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;z-index: -3;background-position: center;}

.sendback{z-index:-1 !important}

.circle{position:absolute; border-radius:50%;z-index: -2;top:0;}

#grin_top{position:absolute;margin: auto; top:0;height:30vh;width: 100vw;margin-right: auto;margin-left: auto;z-index:1 }

#grin_top:after{position: relative;display: block; border-top: 20vh solid #0B4F7B;border-left: 0px solid transparent;border-right: 50vw solid transparent;height: 0;width: 25vw;content: '';}

#grin_top:before{position: relative;height: 10vh;width: 100vw;position: relative;display: block; background-color: #0B4F7B;content: '';}

#grin_bottom{position: absolute;margin: auto; bottom:0;height:30vh;width: 100vw;margin-right: auto;margin-left: auto;z-index: 0}

#grin_bottom:before{position: relative;display: block; margin-left:25vw;right:0; border-bottom: 20vh solid #0B4F7B;border-left: 0px solid transparent;border-left: 50vw solid transparent;height: 0;width: 25vw;content: '';}

#grin_bottom:after{position: relative;height: 10vh;width: 100vw;position: relative;display: block; background-color: #0B4F7B;content: '';}

#circleanimation{top: 0;left: 0;position: absolute;width: 100vw;height: 100vh;background: -moz-radial-gradient(transparent 76.25%, rgb(62, 83, 97) 86.25%);background: -webkit-radial-gradient(transparent 76.25%, rgb(62, 83, 97) 86.25%);background: -ms-radial-gradient(transparent 76.25%, rgb(62, 83, 97) 86.25%);background: -o-radial-gradient(transparent 76.25%, rgb(62, 83, 97) 86.25%);pointer-events: none; z-index: 2;}

.section_title p{position: absolute;text-align: center;margin: auto;left:0;right:0;top:5px !important;z-index:2;font-size:3vw;color:#483D8B}

.bellow_page{position: absolute; z-index: 2}
.bellow_page p{top:1vh}

.section_title{position:absolute;width:30vw;margin: auto;left: 0;right: 0;height:3vh;border-bottom-left-radius:20px;border-bottom-right-radius:20px;min-height: 50px;background-color: rgba(255,255,255,0.5);text-align:center;vertical-align:middle}

.inbrackets{position: absolute;z-index:-1;padding:3.1vw;margin-top:50px}
.inbrackets span{position: absolute}
.inbrackets .leftbracket{position: absolute;display: block;top: -10vh; left:-10px;transform: scale(.3, 1);padding: 0}
.inbrackets .rightbracket{position: absolute;display: block;top: -10vh;right:-10px;transform: scale(.3, 1);padding: 0}
.inbrackets_title{width:100%;position: relative;top:0px;margin:auto;left:0;right: 0;text-align: center;font-size: 3vw}

.content{font-size:15px;font-size-adjust: auto; padding-left:5vh;padding-right:5vh;padding-top:0vh}
.content_research{height:100vh;width:100vw;z-index:0}

#squarediv{position:relative;display:inline-block;padding:0;margin:0;opacity:0}

.cresearch{background-color: greenyellow;}
.oresearch{background-color: brown;}
.teaching{background-color: cyan;}
.publications{background-color: cadetblue;}
.cv{background-color: pink;}

.content_media{height:100vh;width:100vw;z-index:0;background-color: black}

.videoplayer{position: absolute;display: inline-block; background-color:black;width:66.7vw;height:60vh;z-index:0;top:0}

.video_mylife{position: absolute;width: 100vw;height: 100vh;}

.video_mylife video{object-fit: cover}

video{width: 100%;position: absolute;z-index:0;min-width: 100%; min-height: 100%;}

.picturebar_right{position: absolute;display: block;background-color:black;width:33.3vw;height:60vh;z-index:1;top:0;right:0}

.picturebar_bottom{position: absolute;display: block;background-color:black;width:100vw;height:40vh;z-index:1.5;bottom:0}

.picturebar_h{position: relative;width:33vw;height:100%;background-color:black;display:inline-block;margin:0;padding:0;z-index:0}

.picturebar_v{position: relative;width:99%;height:49%;margin-left:2px !important;margin-bottom:4px !important;background-color:black;display:inline-block;margin:0;padding:0;z-index:0}

.content_media img{width: 100%;height:100%;object-fit: cover;display: inline-block}

.blog{width:100vw;height: 100vh; background-color: #fff;}

.content_displacement{width:10vw;height:5vh;min-height:50px}

.left_column{float: left;width:20vw;height:95vh;top:0;position: relative;padding-top:0px;background-image: linear-gradient(#eee .1em, transparent .1em);background-size: 100% 25px;text-align: center}

.vertical_line{width:0.5vw;height:95vh;top:0;display:inline-block;position: relative;background-color: #abced4;background-size: 100% 25px;}

.content_blog{float:right;width:77.5vw;height:95vh;top:0;position:relative;padding-left:1vw;padding-right:1vw;background-image: linear-gradient(#eee .1em, transparent .1em);background-size: 100% 25px;overflow-y: auto;padding-top:5px}

.content_blog{font-size:20px; font-family:'Sacramento', cursive;letter-spacing:0px;text-align: justify;line-height:25px}

.image_blog{width:90%;margin:auto;left:0;right:0}
.image_blog img{position:relative;width:100%;margin:auto;left:0;right:0;display:block}

.full_canvas{position:fixed;top:0;left:0;right:0;bottom:0;margin:auto !important;width:90vw;height:90vh;background-color: black;z-index:100;box-shadow: 0px 0px 6.5vh 6.5vh rgba(0,0,0,0.7);display: block}

.roundbottom{position: absolute; right: 0; margin: -10px;color:white;padding:10px;background-color: rgba(128,128,128,0.7);; box-shadow: 2px 2px 1px 1px rgba(128,128,128,0.3); border-radius:50%}

#map_canvas{position:absolute;width:100vw;height:100vh;left:0;right: 0; margin: auto;pointer-events:all;-moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);box-shadow: inset 0 0 10px rgba(0,0,0,0.5);z-index:-1}

.footnote{position: fixed;width:100vw;height:3vh;bottom:0;z-index:1;background-color: gray;padding:10px 0px 10px 0px;}
.footnote span{width:33.33%;float: left;color:white;text-align: center}
.footnote img{height:100%;margin:0;margin-left: 10px;margin-right:10px}
.footnote div{height:75%;text-align: center;margin:0.5vh;vertical-align: middle;position:relative}
